#header{display:grid;
grid-template-columns: 2fr 5fr;
background:black;
color:white;
height:100%;
font-family:Abril Fatface
}
#image{
height=1500px;
width=150px;
margin-left:20px;
margin-bottom:20px;
margin-top:20px;
}
#li{
margin-right:40px;
}
#ex{ font-family:Abril Fatface
}
